<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.kevin.photo_browse">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".ui.ImageBrowseActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
